body {
  margin: 0px;
}

.postContainer {
  font-family: 'Montserrat';
  background-color: #fffafa;
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
}

.post {
  padding: 20px 40px 20px 40px;
}

.postDate {
  font-family: 'Roboto';
  color: #008080;
  font-weight: bold;
}

.postContent {
  font-family: 'Open Sans';
}